 body{
      display: flex;
      flex-direction: column;
      align-items: center;
 }
 p{
    margin:0; 
}

h2{
   text-align: center;
   font-family: 'Almarai', sans-serif;
   font-weight: bold;
}

 .container{
    background-color: rgb(224, 132, 132);
    display: grid;
    width:80%;
    height: 70vh;
    grid-template-columns: 1.5fr 10fr;
    grid-template-rows:2fr 19fr 4fr 5fr;
    border:3px solid;
    font-family: 'Almarai', sans-serif;
    font-weight: bold;
    
 }
 .one{
   border:1px solid;
 }
 .two{
    display: grid;
    grid-template-columns: 1.6fr 1fr 1.8fr 1.6fr 2fr 1fr 1fr;
 }
 .three{
    display: grid;
    grid-template-rows:repeat(2,0.5fr) 1fr 1.5fr 2fr 2fr 2fr;

 }
 .three>p{
    border: 1px solid;
 }
 
 .four{
    display: grid;
    grid-template-columns: 1.6fr 1fr 1.8fr 1.6fr 2fr 1fr 1fr;
 }
 .inner-four-three{
    display: grid;
    grid-template-rows:repeat(2,0.5fr) 1fr 1.5fr 2fr 2fr 2fr;
 }

 .two >p ,
 .four >div,
 .inner-four-three>p,
 .inner-four-three>div,
 .inner-four-four>p,
 .five>p,
 .seven>p{
    border:1px solid;
    
 }
 
 .inner-four-three>p,
 .inner-four-four>p{
   border-left: none;
   border-right: none;
 }
 .inner-four-three>div{
   border-left: none;
   border-right: none;;
 }
 .inner-four-three>p:first-child,
 .inner-four-four>p:first-child{
   border-top: none;
 }
 .inner-four-three>div:last-child,
 .inner-four-four>p:last-child{
   border-bottom: none;
 }
 .two>p,
 .three>p,
 .five>p,
 .seven>p,
 .four>div>p,
 .six>div>p,
 .inner-four-one,
 .inner-four-two, 
 .inner-four-three>div ,
 .inner-four-five,
 .inner-four-six,
 .inner-four-seven{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;

 }
 .eight >p {
   display: flex;
   align-items: center;
   padding-left: 10px;
    

 }

 

 .inner-four-four{
   display: grid;
   grid-template-rows:repeat(2,0.5fr) 1fr 1.5fr 2fr 2fr 2fr;
 }
 
 .five{
    display: grid;
    grid-template-rows: repeat(4,1fr);
 }
 .six{
   display:grid;
   grid-template-columns: 1.6fr 1fr 1.8fr 1.6fr 4fr;
 }
 .six>div{
   display: grid;
   grid-template-rows:repeat(4,1fr);
   
 }
 #red{
   color:rgb(204, 3, 3);
   border:1px solid black;
  }
  #red-inner{
   color:rgb(204, 3, 3);
   border-top:1px solid black;
   border-bottom:1px solid black;
  }
  #red-inner-bottom{
   color:rgb(204, 3, 3);
   border-top: 1px solid black;
  }
 .inner-six-one>p,.inner-six-two>p,.inner-six-three>p,.inner-six-four>p,.inner-six-five>p{
   border:1px solid;
 }
 
 .inner-six-five{
   display: grid;
   grid-template-columns: 2fr 1fr 1fr;

 }
 .inner-six-five .pOne{
   grid-row:1/2;
   grid-column:1/4;
 }
 .inner-six-five .pTwo{
   grid-row:2/3;
   grid-column: 1/4;
 }
 .inner-six-five .pSix{

   grid-row:4/5;
   grid-column:1/4;
 }
 .seven{
    display: grid;
    grid-template-rows:repeat(2,1fr) repeat(2,1.5fr);
 }
 .eight{
   display: grid;
   grid-template-rows:1fr 1fr 1.5fr 1.5fr;
 }
 .eight>p{
   border:1px solid;
 }
 @media(max-width:1100px){
   .container{
      width:95%;
      font-size: 0.8rem;
  
   }
   .two>p:nth-child(6){
      
      font-weight: bold;
      
    }
    
 }

 @media(max-width:800px){
    .container{
        width:95%;
        height: 80vh;
        font-size: 0.8rem;
      
    }
    .two>p:nth-child(6){
      font-size: 0.7rem;
      font-weight: bold;
    }
    
   
 }
 
 @media(max-width:600px){
   .container{
       width:95%;
       height: 80vh;
       font-size: 0.7rem;
   }
   .two>p:nth-child(6){
     font-size: 0.5rem;
     font-weight: bold;
   }
   
  
}
 @media(max-width:400px){
   .container{
      width:100%;
      font-size:0.55rem;
   }
   .two>p:nth-child(6){
      font-size: 0.4rem;
      font-weight: bold;
    }
 }
 .four,.six,.eight{
   background-color:rgb(249, 181, 181);
 }
 .one,.three,.five,.seven{
   background-color: rgb(204, 85, 151);
 }
 .two{
   background-color: rgb(179, 99, 99);
 }

 .btn{
  background-color: rgb(207, 204, 204);
  border-style:none;
  border-radius: 10px;
  width: 90px;
  height: 30px;
  align-self: center;
  font-weight: bold;
  margin-top:2%;
  
}
.btn>a{
  color:black;
  text-decoration: none;
}
.btn:hover{
  background-color: rgb(204, 85, 151);

}


 